# Generates javadoc for core + all bindings and uploads it to S3.
# The resulting javadoc is available at https://javadoc.lwjgl.org/
name: LWJGL Javadoc generation

on:
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  S3_PARAMS: --cache-control "public,must-revalidate,proxy-revalidate,max-age=0"
  JAVA8_HOME: jdk8
  JAVA_HOME: jdk8
  ANT_OPTS: -Xmx2G
  LWJGL_BUILD_TYPE: nightly
  ZULU_BUILD: 90.0.19-ca-jdk8.0.472
  ZULU_BUILD25: 30.17-ca-jdk25.0.1

jobs:
  macos:
    name: Javadoc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
      - run: |
          git clone https://github.com/LWJGL-CI/OculusSDK.git ../OculusSDK
          mkdir jdk8
          mkdir jdk25
          curl -L https://cdn.azul.com/zulu/bin/zulu8.${ZULU_BUILD}-linux_x64.tar.gz | tar xz -C jdk8 --strip-components 1
          curl -L https://cdn.azul.com/zulu/bin/zulu25.${ZULU_BUILD25}-linux_x64.tar.gz | tar xz -C jdk25 --strip-components 1
        name: Install dependencies
      - run: ant -emacs hydrate-kotlinc clean-generated generate
        name: Generate bindings
      - run: ant -emacs compile
        name: Build Java
      - run: JAVA_HOME=jdk25 ant -emacs javadoc -Dcore.java25=true
        name: Generate javadoc
      - run: aws s3 sync bin/javadoc s3://lwjgl-javadoc/ --delete
        name: Upload javadoc to S3